<!-- {% load static %}

<div class="footer">
    <div class="row">
      <div class="footer-col">
        <h4>Help</h4>
        <ul>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Learn</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">About us</a></li>
          </li>
          <li>
            <a href="#"><img src="images/tiktok.png" /> TikTok</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Visit</h4>
        <ul>
          <li><a href="#">location</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow us</h4>
        <ul>
          <li>
            <a href="#"><img src="{% static 'images/facebook.png' %}" /> Facebook</a>
          </li>
          <li>
            <a href="#"><img src="{% static 'images/instagram.png' %}" /> Instagram</a>
          </li>
          <li>
            <a href="#"><img src="{% static 'images/tiktok.png' %}" /> TikTok</a>
          </li>
        </ul>
      </div>
    </div>
</div>


 -->
