{% extends 'base.html' %} {% load static %}

<title>{% block title %}Home{% endblock title %}</title>

{%block maincontent%}

<div class="backgroundstill">
  <div class="redbackground">
    <div class="navbar">{% include 'partials/navbar.html' %}</div>
    <div class="displaybar">
      <div class="displayimage">
        <img src="{% static 'images/frgsofa.png'  %}" alt="" />
      </div>
      <div class="maininfo">
        <h1>
          BIVA FURNITURE FOR<br />
          YOUR HOME
        </h1>
        <h3>YOUR LUXURY STARTS HERE</h3>
        <button class="buttonmaininfo">Primary button</button>
      </div>
    </div>
  </div>

  <div class="fearures">
    <div class="fearture1 innerfeature">
      <img
        src="{% static 'images/face-smile-solid.svg'  %}"
        alt=""
        class="fearureimage"
      />
      <h3>Comfort</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
        voluptate, est omnis inventore porro, numquam aspernatur quasi quaerat
        iure eligendi impedit. Iste distinctio quae aliquid dolor natus
        voluptate repellat earum.
      </p>
    </div>
    <div class="fearture2 innerfeature">
      <img
        src="{% static 'images/crown-solid.svg' %}"
        alt=""
        class="fearureimage"
      />
      <h3>Luxury</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
        voluptate, est omnis inventore porro, numquam aspernatur quasi quaerat
        iure eligendi impedit. Iste distinctio quae aliquid dolor natus
        voluptate repellat earum.
      </p>
    </div>
    <div class="fearture3 innerfeature">
      <img
        src="{% static 'images/heart-solid.svg' %}"
        alt=""
        class="fearureimage"
      />
      <h3>Beauty</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio
        voluptate, est omnis inventore porro, numquam aspernatur quasi quaerat
        iure eligendi impedit. Iste distinctio quae aliquid dolor natus
        voluptate repellat earum.
      </p>
    </div>
  </div>
</div>
<div class="home_midcontent"></div>
<div class="footer">{% include 'partials/footer.html' %}</div>
{%endblock maincontent%}
